<!DOCTYPE html>
<html>
 <head>  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="affordable ejuice, ejuice for crypto, local and shipped ejuice, safe ejuice, vape fluid, vape juice">
    <meta name="author" content="EvilEyeJuice Team">
    <title>evileyejuice.com, custom flavor ejuice, affordible ejuice</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112160961-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112160961-1');
    </script>



  <style>
body{
   background-color:#000000;
   color:#444;
}
h5.info{
   color:pink;
}
  .price1{
    color:#eee;
  }
  .header{
   position:fixed;
   max-width:750; 
   background-color:#fff;
   color:black;
   padding:0px;
   box-shadow:1px 2px 3px #333;
  }
  .header-spacer{
   height:9vh;
   width:100%;
  }
  .info{
   background-color:#ffffff03;
  }
  .background{
   background-color:#0000009c;
   position:fixed;
   height:100vh;
   width:100%;
   z-index:2;
  }
  .image01{
   max-width:280px;
   float:right;
   display:inline-block;
   verticle-align:top;
   margin-bottom:8px;
   margin-left:5px;
  }
  @media screen and (max-width:500px){
    .image01{
        width:100% !important;
        max-width:500px;
        margin-left:0px;
    }
    .item-block-inner{
        display:block;
    }
  } 
  @6media screen and (min-width:500px){
    .item-block{
        height:490px;
    }
  } 
  #lining1{
    top: 11.5vh;
    padding:5px 10px 5px 5px
  }
  .line-item{
    margin: 4px 0px;
}
  </style>
 </head>
 
 <body class="" style=" margin:0 auto; color:#666;">
<div id="backdrop" class="">
</div>
{% set order_bar = [
          ('Flavor',['', 'Nirvana Lemonade','Ugly Apple','Squaremelon','Buff Berry','Evil Treat']),
          ('Size',['', '60','120']),
          ('Nic(Mg/Ml)',['','2','3','6','12']),
          ('VG:PG',['','MAX VG','80/20','70/30']),
          ('Menthol',['', 'Strong', 'Light', 'None'])
] -%}
<div id='lining1' style="display:none;z-index:3" class="container-fluid header">
  <h5>EvilEyeJuice.com is currently only structured to make local sales in San Jose and the San Francisco Bay Area. If you would like to make a purchase, regardless of location, please fill in the form below. We will contact you as soon as possible.</h5> 
  <div class="line-item">
  {% for title, options in order_bar %}
    <div class="order-item">
        <label>{{ title|e }}</label>
        <select id="{{ title|safe }}">
          {% for option in options %}
              <option value="{{ option|safe }}">{{ option|e }}</option>
          {% endfor %}
        </select>
    </div>
  {% endfor %}
  <div class="order-item">
      <label>Email address:</label>
      <input value="" placeholder="e-mail address" id="email"></input>
      </div>
      </br>
         <a id="order" href="#"><h6 style="background-color:#ffc107; padding:20px; display:inline;margin:5px;;">Submit Order</h6>
      </a>
  </div>
</div>
  <div class="header" style="z-index:3;">
    <div style="background-color:white;display:inline-block;">
     <h4 style="font-weight:300; margin:0px 0px 0px 9px;">Evil Eye Juice</h4>
    </div>
    <div style="display:inline-block;">
  <a id="orderpanel" href="#"><h6 style="background-color:pink; padding:10px; display:inline;margin:5px;">Create Order</h6>
     </a>
    </div>
  </div> 
</div>

  <script>
    
       document.getElementById('orderpanel').addEventListener("click", function(){
            console.log('what');
            x = document.getElementById("lining1");
            y = document.getElementById("backdrop");
            if (x.style.display !== "block") {
                x.style.display = "block";
                y.classList.add("background");
            } else {
                x.style.display = "none";
                y.classList.remove("background")
            }
        });



    document.getElementById('order').onclick = function() {
        var f = document.getElementById("Flavor");
        var s = document.getElementById("Size");
        var n = document.getElementById("Nic(Mg/Ml)");
        var v = document.getElementById("VG:PG");
        var m = document.getElementById("Menthol");
        var e = document.getElementById("email");
        var cf = f.options[f.selectedIndex].value; 
        var cs = s.options[s.selectedIndex].value; 
        var cn = n.options[n.selectedIndex].value; 
        var cv = v.options[v.selectedIndex].value; 
        var cm = m.options[m.selectedIndex].value;
        var ce = e.value; 
        var path = cf + '\n' + cs + '\n' +  cn + '\n' + cv + '\n' + cm;
        emailjs.send("gmail","template_dqxyDdZF",{to_name:JSON.stringify(ce), message_html: path}); alert('Order submitted');  
}
  </script>



{% set catalog = [

    ('/NirvanaLemonade',
     'Nirvana Lemonade', 
     'Nirvana lemonade, this is our best selling vape juice ejuice. It is paired with a stubble sweet strawberry flavor, that will take you into a state of deep bliss. Sweet and refreshing Nirvana is my personal all day vape.',
     ['Lemonade','Strawberry','Tangerine','Sweet'],
     'nl.jpg'
    ),

    ('/UglyApple',
     'Ugly Apple', 
     'Sour apple paired with a touch of peach to add sweetness, Ugly Apple is a crisp and refreshing vape.', 
     ['Apple','Peach','Sour'],
     'ua.jpg'
    ),

    ('/BuffBerry',
     'Buff Berry',
     'Buff berry is a sweet candy like strawberry thats is sure to satisty your sweet tooth.',
     ['Strawberry', 'Candy', 'Sweet'],
     'bb.jpg'
    ),
    
    ('/Squaremellon',
     'Squaremellon',
'Squaremelon is remincent of a picnic of a day on the beach. You would have to be a square not to try this one.', 
     ['watermellon', 'Sweet'],
     'sm.jpg'
    ),
   
    ('/EvilTreat',
     'Evil Treat',
     'Evil Treat is a Lcyhee juice that is paired with mango and tangerine. These falvors come together to make delisious treat.', 
     ['Lychee', 'Mango', 'Tangerine', 'Sweet', 'Candy'],
     'ee.jpg'    
    )
]
%}
   
{% for href, title, description, flavors, image in catalog %} 

<div class="header-spacer"></div>
    <div style="z-index:1;" class="item-block container-fluid" style="margin:5%;">
      <div class="row">
       <div class="col-md"></div>
       <div class="col-sm">
         <img class="image01 col-sm" src="http://45.55.24.80:3002/static/{{ image|safe  }}" alt="Smiley face" width="100%"/>
       </div>
       <div class="col-sm">
        <h5 class="info">{{ title|e }}</h6>
        <span class="price1">$16 for 60ml, $30 for 120ml</span>
        <p class="info split">{{ description|e }} </p>
          {% for flavor in flavors %}
             <span class="info">-{{ flavor|e }}</span></br>
          {% endfor %}
        </p>
       </div>
       <div class="col-sm"></div>
      </div>
    </div>
{% endfor %}
   </div>


    <div style="background-color:#111;margin-top:30px;padding-top:30px;height:30px;width:100%">
````````````````````````````````````````````````````````````````````````````````</div>

<script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
<script type="text/javascript">
    (function(){
        emailjs.init("user_k5zt8avAVHLpLLNCiyg6b");
    })();
</script>


</body>
 </html>
 
