<!DOCTYPE html>
<html>
 <head>
  
  <style>
  body{
   font-family:san-serif !important;
   background-color:#222 !important;
   color:#d438de !important;
  }
  .info{
   background-color:#111;
  }
  .split{
   
  }
  .image01{
   max-width:280px;
   float:left;
   margin:0px 20px 0px 0px; 
   display:inline-block;
   verticle-align:top;
   box-shadow:9px 14px 0px #0009;
   margin-bottom:5px;
   margin-left:5px;
  }
  </style>
 </head>
 
 <body style="background-color:#eeeeee; margin:0 auto; color:#333;">
  <div style="max-width:750; 
              margin:0 auto;
              position:fixed;
              background-color:white;
              padding:0px;
              box-shadow:1px 2px 3px #333;
              ">
    <div style="background-color:white;display:inline-block;">
     <h4 style="font-weight:300; margin:0px 0px 0px 9px;">Evil Eye Juice</h4>
    </div>
    <div style="display:inline-block;">
     <h6 id="orderpanel" style="background-color:pink; padding:10px; display:inline;margin:5px;">Order Now</h6>
    </div>
  </div>
  <div style="max-width:750px; margin:0 auto;">
   
  </div>
   
   
   </div>
    
    <div style="padding:5%">
     <h5 class="info">Nervana Lemonade</h6>
     <div style="display:inline;">
      <p display:inline;>
       <img class="image01" src="opener.gif" alt="Smiley face" width="100%"/>
       <div style="display:inline;margin:20px;padding:20px;">
        <p class="info split">Nervana Lemonade is paired with a subtle strawbearry and tangerine flavor, that will take your mouth into a state of deap bliss. Sweet, tangy, and refreshing Nervana Lemonade is a must have juice. </p>
         <span class="info">- Lemonade</span></br>
         <span class="info">- Strawberry</span></br>
         <span class="info">- Touch of Tangerines </span></br>
        </p>
       </div>
      </p>
     </div>
    </div>
        <div style="padding:5%">
     <h5 class="info">Nervana Lemonade</h5>
     <div style="display:inline;">
      <p display:inline;>
       <img src="opener.gif" alt="Smiley face" width="100%" style="max-width:300px;float:left;margin:0px 20px 0px 0px; display:inline-block;verticle-align:top;"/>
       <div style="display:inline;margin:20px;padding:20px;">
        <p style="display">Nervana Lemonade is paired with a subtle strawbearry and tangerine flavor, that will take your mouth into a state of deap bliss. Sweet, tangy, and refreshing Nervana Lemonade is a must have juice. </p>
         <span>- Lemonade</span></br>
         <span>- Strawberry</span></br>
         <span>- Touch of Tangerines </span></br>
        </p>
       </div>
      </p>
     </div>
    </div>
    
    </hr>
    
    <div style="padding:5%">
     <h6>Nervana Lemonade</h6>
     <div style="display:inline;">
      <p display:inline;>
       <img src="opener.gif" alt="Smiley face" width="100%" style="max-width:300px;float:left;margin:0px 20px 0px 0px; display:inline-block;verticle-align:top;"/>
       <div style="display:inline;margin:20px;padding:20px;">
        <p style="display">Nervana Lemonade is paired with a subtle strawbearry and tangerine flavor, that will take your mouth into a state of deap bliss. Sweet, tangy, and refreshing Nervana Lemonade is a must have juice. </p>
         <span>- Lemonade</span></br>
         <span>- Strawberry</span></br>
         <span>- Touch of Tangerines </span></br>
        </p>
       </div>
      </p>
     </div>
    </div>
    
    </hr>
    
    <div style="padding:5%">
     <h6>Nervana Lemonade</h6>
     <div style="display:inline;">
      <p display:inline;>
       <img src="opener.gif" alt="Smiley face" width="100%" style="max-width:300px;float:left;margin:0px 20px 0px 0px; display:inline-block;verticle-align:top;"/>
       <div style="display:inline;margin:20px;padding:20px;">
        <p style="display">Nervana Lemonade is paired with a subtle strawbearry and tangerine flavor, that will take your mouth into a state of deap bliss. Sweet, tangy, and refreshing Nervana Lemonade is a must have juice. </p>
         <span>- Lemonade</span></br>
         <span>- Strawberry</span></br>
         <span>- Touch of Tangerines </span></br>
        </p>
       </div>
      </p>
     </div>
    </div>
    
    <hr/>
    
    <div style="padding:5%">
     <h6>Nervana Lemonade</h6>
     <div style="display:inline;">
      <p display:inline;>
       <img src="opener.gif" alt="Smiley face" width="100%" style="max-width:300px;float:left;margin:0px 20px 0px 0px; display:inline-block;verticle-align:top;"/>
       <div style="display:inline;margin:20px;padding:20px;">
        <p style="display">Nervana Lemonade is paired with a subtle strawbearry and tangerine flavor, that will take your mouth into a state of deap bliss. Sweet, tangy, and refreshing Nervana Lemonade is a must have juice. </p>
         <span>- Lemonade</span></br>
         <span>- Strawberry</span></br>
         <span>- Touch of Tangerines </span></br>
        </p>
       </div>
      </p>
     </div>
    </div>
    
    
<!--    
    <div style="padding:5%">
     <h6>Ugly Apple</h6>
     <img src="opener.gif" alt="Smiley face" width="30%" style="margin:0 auto; display:inline-block;"/>
     <div style="display:inline;margin:20px;padding:20px;">
      <p>Ugly Apple is a sour apple with a touch of peach to add some sweatness. Sour yet sweat, Ugly Apple is sure to satisfy your tate buds.</p>
      <ul>
        <li>Apple</li>
        <li>Peach</li>
        <li></li>
      </ul>
     </div>
    </div>
    
    <hr/>
    
    <div style="padding:5%">
     <h6>Buff Berry</h6>
     <div style="display:inline;">
      <img src="opener.gif" alt="Smiley face" width="30%" style="display:inline-block;"/>
     </div>
     <div style="display:inline;">
      <span style="display:inline; max-width:300px;">Buff Berry is a sweet and pungent strawbeary that is sure to satistfy your sweet touth. </span>
      <ul  style="display:inline;">
        <li>Straberry</li>
        <li>Hint of apple</li>
        <li>Sweet</li>
      </ul>
     </div>
    </div>
    
    <hr/>
    
    <div style="padding:5%">
     <h6>Watermelon</h6>
     <img src="opener.gif" alt="Smiley face" width="30%" style="margin:0 auto; display:inline-block;"/>
     <div style="display:inline;">
      <p>Fresh, juicy, and sweet watermelon is reminicent of a picnic or day on the beach. </p>
      <p></p>
      <ul>
        <li>Watermelon</li>
        <li>Sweet</li>
        
      </ul>
     </div>
    </div>
    
 -->
    
    <hr/>
    
    <p>ANDREW - PLEASE ENTER CONTENT HERE</p>
    <p>ANDREW - PLEASE ENTER CONTENT HERE</p>
    <p>ANDREW - PLEASE ENTER CONTENT HERE</p>
    <p>ANDREW - PLEASE ENTER CONTENT HERE</p>
    
    <p>ANDREW - PLEASE ENTER CONTENT HERE</p>
    <p>ANDREW - PLEASE ENTER CONTENT HERE</p>
    <p>ANDREW - PLEASE ENTER CONTENT HERE</p>
    <p>ANDREW - PLEASE ENTER CONTENT HERE</p>
   </div>
  </body>
 </html>
 
