<!DOCTYPE html>
<html>
 <head>
  
  <style>
  body{
   font-family:san-serif !important;
   background-color:#222 !important;
   color:#d438de !important;
  }
  .info{
   background-color:#111;
  }
  .split{
   
  }
  .image01{
   max-width:280px;
   float:left;
   margin:0px 20px 0px 0px; 
   display:inline-block;
   verticle-align:top;
   box-shadow:9px 14px 0px #0009;
   margin-bottom:5px;
   margin-left:5px;
  }
  </style>
 </head>
 
 <body style="background-color:#eeeeee; margin:0 auto; color:#333;">
  <div style="max-width:750; 
              margin:0 auto;
              position:fixed;
              background-color:white;
              padding:0px;
              box-shadow:1px 2px 3px #333;
              ">
    <div style="background-color:white;display:inline-block;">
     <h4 style="font-weight:300; margin:0px 0px 0px 9px;">Evil Eye Juice</h4>
    </div>
    <div style="display:inline-block;">
     <h6 id="orderpanel" style="background-color:pink; padding:10px; display:inline;margin:5px;">Order Now</h6>
    </div>
  </div> 

{% set catalog = [

    ('/NervanaLemonade',
     'Nervana Lemonade', 
     'Nervana lemonade is paired with a stubble sweet strawberry flavor, that will take you into a state of deep bliss. Sweet and refreshing Nervana is my personal all day vape.',
     ['Lemonade','Strawberry','Tangerine','Sweet'],
     'nervanlemonade-template.jpg'
    ),

    ('/UglyApple',
     'Ugly Apple', 
     'Sour apple paired with a touch of peach to add sweetness, Ugly Apple is a crisp and refreshing vape.', 
     ['Apple','Peach','Sour'],
     'uglyapple-template.jpg'
    ),

    ('/BuffBerry',
     'Buff Berry',
     'Buff berry is a sweet candy like strawberry thats is sure to satisty your sweet tooth.',
     ['Strawberry', 'Candy', 'Sweet'],
     'buffberry-template.jpg'
    ),
    
    ('/Squaremellon',
     'Squaremellon',
'Squaremelon is remincent of a picnic of a day on the beach. You would have to be a square not to try this one.', 
     ['watermellon', 'Sweet'],
     'squaremelon-template.jpg'
    ),
   
    ('/EvilTreat',
     'Evil Treat',
     'Eval Treat is a Lcyhee juice that is paired with mango and tangerine. These falvors come together to make delisious treat.', 
     ['Lychee', 'Mango', 'Tangerine', 'Sweet', 'Candy'],
     'evileye-templates.jpg'    
    )
]
%}
    
{% for href, title, description, flavors, image in catalog %} 
    <div style="padding:5%">
     <h5 class="info">{{ title|e }}</h6>
     <div style="display:inline;">
      <p display:inline;>
       <img class="image01" src="http://45.55.24.80:3002/static/{{ image|safe  }}" alt="Smiley face" width="100%"/>
       <div style="display:inline;margin:20px;padding:20px;">
        <p class="info split">{{ description|e }} </p>
          {% for flavor in flavors %}
             <span class="info">-{{ flavor|e }}</span></br>
          {% endfor %}
        </p>
       </div>
      </p>
     </div>
    </div>
{% endfor %}
    
    <hr/>
    
    <p>ANDREW - PLEASE ENTER CONTENT HERE</p>
    <p>ANDREW - PLEASE ENTER CONTENT HERE</p>
    <p>ANDREW - PLEASE ENTER CONTENT HERE</p>
    <p>ANDREW - PLEASE ENTER CONTENT HERE</p>
    
    <p>ANDREW - PLEASE ENTER CONTENT HERE</p>
    <p>ANDREW - PLEASE ENTER CONTENT HERE</p>
    <p>ANDREW - PLEASE ENTER CONTENT HERE</p>
    <p>ANDREW - PLEASE ENTER CONTENT HERE</p>
   </div>
  </body>
 </html>
 
